---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";

import "/src/styles/global.css";

import CardGalleryItem from "../components/card_gallery_item.astro";
import Image from "astro/components/Image.astro";

import { Icon } from "astro-icon/components";

import cogLogo from "/src/assets/cog_logo.svg";

import SpeedInsights from "@vercel/speed-insights/astro";

const user = await Astro.locals.currentUser;

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header class="flex items-center gap-2 p-2.5">
      <div class="flex flex-row items-center gap-1">
        <Image
          alt="Community of Grace Logo"
          src={cogLogo}
          class="2xs:inline hidden size-12 sm:size-16"
        />
        <h1 class="font-display flex-1/4 text-2xl text-black sm:text-3xl">
          Member Portal
        </h1>
      </div>
      <nav class="flex flex-3/4 flex-row items-center justify-between gap-1">
        <menu class="flex flex-5 items-center justify-center">
          <li>
            <a
              class="font-display items-center justify-center self-center text-xl sm:text-2xl"
              href="https://www.transformlives.org"
            >
              <span class="xs:hidden inline-block text-left hover:underline"
                >CoG Homepage<Icon
                  class="inline-block"
                  name="mdi:external-link"
                />
              </span>
              <span class="xs:inline-block hidden text-left hover:underline"
                >Return to CoG Homepage <Icon
                  class="inline-block"
                  name="mdi:external-link"
                />
              </span>
            </a>
          </li>
        </menu>
        <div
          id="auth_buttons"
          class="flex h-full flex-2 flex-col items-end justify-center"
        >
          <SignedOut>
            <SignInButton
              mode="modal"
              class="bg-cog-burgundy-400 hover:bg-cog-burgundy-500 focus:ring-cog-burgundy-200 font-display rounded-lg px-5 py-2.5 text-xl text-white focus:ring-4"
            />
          </SignedOut>
          <SignedIn class="flex justify-center">
            <UserButton />
          </SignedIn>
        </div>
      </nav>
    </header>
    <SignedIn>
      <div
        class="from-cog-burgundy-100 to-cog-burgundy-500 flex h-3/7 flex-col items-center justify-center gap-2 bg-gradient-to-tr text-white"
      >
        <h2 class="font-display text-6xl font-extrabold">
          Welcome {JSON.stringify(user)}!
        </h2>
        <p class="text-xl italic">You are successfully logged in!</p>
      </div>
    </SignedIn>
    <SignedOut>
      <div
        class="from-cog-burgundy-100 to-cog-burgundy-500 flex h-3/7 flex-col items-center justify-center gap-2 bg-gradient-to-tr px-30 text-center text-white"
      >
        <h2 class="font-display text-6xl font-extrabold">
          Member Portal is only availble to signed in users.
        </h2>
        <p class="text-xl italic">
          Accounts available only to Community of Grace registered members. <br
          />
          If you believe you should have an account, but don't; or are unable to
          login, please contact us using the help form below.
        </p>
      </div>
    </SignedOut>

    <SignedIn>
      <ul class="flex flex-row flex-wrap justify-center gap-3 p-4">
        <CardGalleryItem
          imagePath="/src/assets/baptismal_font.jpg"
          altText="Image of a Baptismal Font"
          linkTo="/src/assets/2024_Directory.pdf"
        >
          <span slot="card_title">Membership Directory</span>
          <span slot="card_description"
            >Listing of Community of Grace members and member information.<br />
            Includes pictures, phone numbers, and emails.</span
          >
        </CardGalleryItem>
        <CardGalleryItem
          imagePath="/src/assets/notepad_pad_paper_yellow.jpg"
          altText="Image of a Legal Pad"
          linkTo="/src/assets/Financial_Reports.pdf"
        >
          <span slot="card_title"
            >Recent Council Minutes & Financial Reports</span
          >
          <span slot="card_description">
            Approved Council Minutes <br />
            Approved Financial Reports
          </span>
        </CardGalleryItem>
        <CardGalleryItem
          imagePath="/src/assets/tree_of_life.jpg"
          altText="Cross which is also a tree (symbolizing Jesus as \'the tree of life\'"
          linkTo="/src/assets/council_members.pdf"
          ><span slot="card_title">2024 Congregation Council Members</span>
          <span slot="card_description">View Congregation Members of 2024</span>
        </CardGalleryItem>
        <CardGalleryItem
          altText="Wood vaneer pulpit"
          imagePath="/src/assets/pulpit.jpg"
          linkTo="/src/assets/2024_spending_plan.pdf"
        >
          <span slot="card_title">Approved Ministry Spending Plan for 2024</span
          >
          <span slot="card_description"
            >View the spending plan which was approved at our 2023
            Congregational Meeting</span
          >
        </CardGalleryItem>
        <CardGalleryItem
          altText="Open Hymnal showing sheet music"
          imagePath="/src/assets/open_hymnal.jpg"
          linkTo="/src/assets/Constitution_12_2023"
        >
          <span slot="card_title">Constitution</span>
          <span slot="card_description"
            >Our current constitution, approved in January of 2024. (Published
            in December 2023.)</span
          >
        </CardGalleryItem>
      </ul>
    </SignedIn>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
